<div class="running-text">
  <marquee>SYARAT PENDAFTARAN ZONASI: Fotocopy KK + Asli | Fotocopy SHUN + Asli | Fotocopy Kartu Ujian SD -- ISTIRAHAT PUKUL 12.00-13.00</marquee>
</div>

<div class="mt-3 mr-3" id="table-queue"><center><h1>Loading dulu bentar ya zheyeng...</h1></center></div>

<div class="footer">
  <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> Tegar Santosa
</div>
